@font-face {
    font-family: Myriad pro;
    src: url("../fonts/MyriadPro-Regular.1.0.0.woff");
}
@font-face {
    font-family: myriad-pro-light;
    src: url("../fonts/MyriadPro-Light.1.0.0.woff");
}
@font-face {
    font-family: myriad-pro-semibold;
    src: url("../fonts/MyriadPro-Semibold.1.0.0.woff");
}
html {
    line-height: 1.15;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: medium none;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible,
button:focus-visible {
    outline: buttontext dotted 1px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    appearance: none;
}
::-webkit-file-upload-button {
    appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    font-family: Myriad pro, sans-serif !important;
}
body {
    opacity: 1 !important;
    margin: 0;
    font-family: Myriad pro, sans-serif !important;
    color: #494949 !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-size: 16px !important;
    line-height: 1.25;
    letter-spacing: normal;
    min-width: 320px;
}
body button,
body input,
body select,
body textarea {
    margin: 0;
    font-family: inherit !important;
    line-height: 1.25;
    color: #394a58;
}
body a {
    color: #0072ac;
    text-decoration: none;
}
body a:focus,
body a:hover {
    text-decoration: underline;
}
body select {
    appearance: none;
}
body input[type="number"] {
    appearance: textfield;
}
body input[type="number"]::-webkit-inner-spin-button,
body input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
body input:focus {
    outline: currentcolor none medium;
}
body input:disabled {
    color: #394a58;
    -webkit-text-fill-color: rgb(57, 74, 88);
}
body select:disabled {
    color: #394a58;
    -webkit-text-fill-color: rgb(57, 74, 88);
}
body.ReactModal__Body--open {
    overflow: hidden;
}
.gHmjpC {
    max-width: 100%;
    margin: 0 auto;
    transition: max-width 0.2s ease 0s;
    padding: 0;
}
.iuTaRk {
    max-width: 100%;
    margin: 0 auto;
    transition: max-width 0.2s ease 0s;
    padding: 0;
}
@media only screen and (min-width: 30em) {
    .iuTaRk {
        width: 48.1875rem;
    }
}
@media only screen and (min-width: 48em) {
    .iuTaRk {
        width: 61rem;
    }
}
@media only screen and (min-width: 60em) {
    .iuTaRk {
        width: 76rem;
    }
}
.ftOLeJ {
    max-width: 100%;
    margin: 0 auto;
    transition: max-width 0.2s ease 0s;
    padding: 0 15px;
}
@media only screen and (min-width: 30em) {
    .ftOLeJ {
        width: 48.1875rem;
    }
}
@media only screen and (min-width: 48em) {
    .ftOLeJ {
        width: 61rem;
    }
}
@media only screen and (min-width: 60em) {
    .ftOLeJ {
        width: 76rem;
    }
}
.jMDrzh {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px 40px;
}
@media screen and (max-width: 767px) {
    .jMDrzh {
        margin-bottom: 32px;
    }
}
.hkTfox {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px 32px;
}
.keBdWO {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px 40px;
}
@media screen and (max-width: 767px) {
    .keBdWO {
        margin-bottom: 40px;
    }
}
.jTKZuQ {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px;
}
@media screen and (max-width: 767px) {
    .jTKZuQ {
        margin-bottom: 0;
    }
}
.kZqxSq {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px 16px;
}
@media screen and (max-width: 767px) {
    .kZqxSq {
        margin-bottom: 16px;
    }
}
.hhhmKx {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px 12px;
}
@media screen and (max-width: 767px) {
    .hhhmKx {
        margin-bottom: 12px;
    }
}
.fuDXid {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 15px;
}
@media only screen and (min-width: 0em) {
    .fuDXid {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
.iCsUil {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 15px;
}
@media only screen and (min-width: 0em) {
    .iCsUil {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
        display: block;
    }
}
.fhjBJp {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 15px;
}
@media only screen and (min-width: 0em) {
    .fhjBJp {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
        display: block;
    }
}
.fEcYwd {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 15px;
}
@media only screen and (min-width: 0em) {
    .fEcYwd {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 30em) {
    .fEcYwd {
        flex-basis: 50%;
        max-width: 50%;
        display: block;
    }
}
@media only screen and (min-width: 48em) {
    .fEcYwd {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 60em) {
    .fEcYwd {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
.gcwNfU {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fgYQMj {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    flex: 1 0 auto;
}
.cbBBvh {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    flex: 1 0 auto;
    margin: 48px auto;
    max-width: 100%;
}
@media screen and (max-width: 767px) {
    .cbBBvh {
        margin: 0 auto;
        max-width: 100%;
    }
}
@media screen and (max-width: 479px) {
    .cbBBvh {
        margin: 0 auto;
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .cbBBvh {
        padding: 48px 15px;
        margin: 0;
        width: 100%;
    }
}
.gIRcZu {
    min-height: 330px;
    background-color: #fff;
    border: 1px solid #e2e4e6;
    border-radius: 3px;
    max-width: 560px;
    padding: 88px 96px;
}
@media screen and (max-width: 767px) {
    .gIRcZu {
        max-width: 375px;
        padding: 48px 36px;
        border: medium none;
    }
}
.gIRcZu .action-container {
    padding-top: 12px;
}
.bKHAPp {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex: 1 0 100%;
    margin-top: 90px;
}
.kiOFau {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
}
@media screen and (max-width: 959px) {
    .kiOFau {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 767px) {
    .kiOFau {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 479px) {
    .kiOFau {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.UeGWU {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 100%;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
}
@media screen and (max-width: 767px) {
    .UeGWU {
        margin: 0 auto;
        max-width: 100%;
    }
}
@media screen and (max-width: 479px) {
    .UeGWU {
        margin: 0 auto;
        width: 100%;
    }
}
@media screen and (max-width: 959px) {
    .UeGWU {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 767px) {
    .UeGWU {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 479px) {
    .UeGWU {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.iyDMES {
    position: relative;
    animation: 1s ease 0.1s 1 normal both running icPxHz;
}
.enlyRz {
    width: 100%;
    margin: 0;
    background-color: #0072ac;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: myriad-pro-semibold, sans-serif, sans-serif !important;
    font-weight: 600;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
}
.enlyRz:disabled {
    cursor: not-allowed;
}
.enlyRz:focus,
.enlyRz:hover {
    outline: currentcolor none medium;
    background-color: #0093d8;
}
.enlyRz svg {
    margin-right: 8px;
}
.deGsFu {
    width: 100%;
    margin: 8px 0 0;
    background-color: #0072ac;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: myriad-pro-semibold, sans-serif, sans-serif !important;
    font-weight: inherit;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
}
.deGsFu:disabled {
    cursor: not-allowed;
}
.deGsFu:focus,
.deGsFu:hover {
    outline: currentcolor none medium;
    background-color: #0093d8;
}
.deGsFu svg {
    margin-right: 8px;
}
@media screen and (max-width: 767px) {
    .jMeGNg {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 479px) {
    .jMeGNg {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.bgtufs {
    color: #0072ac;
}
.bgtufs:focus,
.bgtufs:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.fSWFwe {
    color: transparent;
}
.fSWFwe:focus,
.fSWFwe:hover {
    cursor: pointer;
}
.bGycgx {
    color: #0072ac;
}
.bGycgx:focus,
.bGycgx:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.fXSsv {
    display: inherit;
    margin-bottom: 0;
    padding: 0;
    text-align: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}
.biBRUN {
    min-height: 330px;
    background-color: #fff;
    border: 1px solid #e2e4e6;
    border-radius: 3px;
    max-width: 560px;
    padding: 64px;
    margin-top: 0;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .biBRUN {
        max-width: 375px;
        padding: 48px 36px;
        border: medium none;
    }
}
.biBRUN .action-container {
    padding-top: 12px;
}
@media screen and (max-width: 767px) {
    .biBRUN {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}
.iePjpL {
    min-height: auto;
    background-color: #fff;
    border: medium none;
    border-radius: 3px;
    max-width: 560px;
    padding: 0;
    margin-top: 64px;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .iePjpL {
        max-width: 375px;
        padding: 48px 36px;
        border: medium none;
    }
}
.iePjpL .action-container {
    padding-top: 12px;
}
@media screen and (max-width: 767px) {
    .iePjpL {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}
.RVemu {
    min-height: auto;
    background-color: #fff;
    border: medium none;
    border-radius: 3px;
    max-width: 560px;
    padding: 0;
    margin-top: 0;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .RVemu {
        max-width: 375px;
        padding: 48px 36px;
        border: medium none;
    }
}
.RVemu .action-container {
    padding-top: 12px;
}
@media screen and (max-width: 767px) {
    .RVemu {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}
.iNSeoe {
    position: relative;
    z-index: 9;
    width: 100%;
    top: 0;
}
.fQcucI {
    height: 60px;
    width: 100%;
    background-color: #004165;
}
.iDMDsu {
    width: 103px;
    height: 42px;
    margin-top: 10px;
}
.hLFFFY {
    width: 100%;
    bottom: 0;
}
.cAuNUY {
    width: 100%;
    background-color: #0072ac;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
}
.kbKcVw {
    white-space: nowrap;
}
.iYfeTu {
    color: #fff;
}
.intwzL {
    color: #d53d39;
    margin: 2px 0 0;
    font-size: 14px;
}
.epQYnQ {
    font-size: 16px;
    color: #747678;
    transition: font-size 0.2s ease 0s, transform 0.2s ease 0s, color 0.2s ease 0s;
    margin-bottom: 12px;
    display: inline-block;
}
.ddkzNy {
    position: relative;
    z-index: 0;
    color: #747678;
    width: 100%;
}
.iannKT {
    font-family: "Myriad Pro", sans-serif;
    width: 100%;
    padding: 0 0 0 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s ease 0s, height 0.2s ease 0s, line-height 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s;
    font-size: 16px;
    color: #494949;
    height: 44px;
}
.caCjTA {
    font-family: "Myriad Pro", sans-serif;
    width: 100%;
    padding: 0 24px 0 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s ease 0s, height 0.2s ease 0s, line-height 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s;
    font-size: 16px;
    color: #494949;
    height: 44px;
}
.kpvtrg {
    font-family: "Myriad Pro", sans-serif;
    width: 100%;
    padding: 0 24px 0 12px;
    background-color: transparent;
    border: 1px solid #0093d8;
    font-size: 16px;
    color: #494949;
    height: 44px;
    border-radius: 4px;
    outline: currentcolor none medium;
    transition: border-color 0.2s ease 0s, border-radius 0.2s ease 0s;
}
.jADYXt {
    font-family: "Myriad Pro", sans-serif;
    width: 100%;
    padding: 0 24px 0 12px;
    background-color: transparent;
    border: 1px solid #d53d39;
    border-radius: 4px;
    transition: border-color 0.2s ease 0s, height 0.2s ease 0s, line-height 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s;
    font-size: 16px;
    color: #494949;
    height: 44px;
}
.bKHLNI {
    font-family: "Myriad Pro", sans-serif;
    width: 100%;
    padding: 0 24px 0 12px;
    background-color: transparent;
    border: 1px solid #d53d39;
    font-size: 16px;
    color: #494949;
    height: 44px;
    border-radius: 4px;
    outline: currentcolor none medium;
    transition: border-color 0.2s ease 0s, border-radius 0.2s ease 0s;
}
.huxGVV {
    position: relative;
}
.kFMbpR {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 12px;
    transition: font-size 0.2s ease 0s, padding 0.2s ease 0s;
}
.dnzUOx {
    overflow: hidden;
    height: 0;
    margin: 0;
}
.fVCBsY {
    background: #f0faff none repeat scroll 0 0;
    border: 1px solid #93c7e5;
    border-radius: 3px;
    display: block;
    padding: 16px;
    font-size: 14px;
}
.eDUZTK {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.2px;
}
.hHGkXv {
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: 0;
}
.bDGCPV {
    font-family: myriad-pro-semibold, sans-serif, sans-serif;
}
.gQzZhN {
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: normal;
    font-family: myriad-pro-light, sans-serif !important;
    color: #004165;
    font-size: 30px;
}
@media screen and (max-width: 959px) {
    .gQzZhN {
        font-size: 28px;
    }
}
@media screen and (max-width: 479px) {
    .gQzZhN {
        text-align: center !important;
    }
}
.gQzZhN:focus {
    outline: currentcolor none medium;
}
.jnEEBd {
    margin: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: normal;
    font-family: myriad-pro-light, sans-serif !important;
    color: #004165;
    font-size: 32px;
}
@media screen and (max-width: 959px) {
    .jnEEBd {
        font-size: 28px;
    }
}
@media screen and (max-width: 479px) {
    .jnEEBd {
        text-align: center !important;
    }
}
.jnEEBd:focus {
    outline: currentcolor none medium;
}
.cPNVuT {
    margin: 56px 0 32px;
    border-color: #ccc currentcolor currentcolor;
    border-style: solid none none;
    border-width: 1px 0 0;
    border-image: none 100%/1/0 stretch;
}
@media screen and (max-width: 767px) {
    .cPNVuT {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 479px) {
    .cPNVuT {
        margin-left: 0;
        margin-right: 0;
    }
}
.iqfKQH label {
    color: #494949;
    margin-bottom: 4px;
    letter-spacing: normal;
}
.iqfKQH p {
    line-height: 18px;
}
.cwZGXC {
    text-align: right;
    position: relative;
    width: 100%;
}
.kdLFKe {
    text-align: left;
    position: relative;
    width: 100%;
}
@media screen and (max-width: 479px) {
    .kdLFKe {
        text-align: center !important;
    }
}
.bkGKPV {
    text-align: left;
    position: relative;
    width: 100%;
    color: #004165;
    font-weight: 600;
}
@media screen and (max-width: 479px) {
    .bkGKPV {
        text-align: center !important;
    }
}
.hbOcpj {
    margin: 0;
}
.fcpSbK {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .fcpSbK {
        display: block;
    }
}
.enfqKP {
    display: none;
    -moz-box-pack: center;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .enfqKP {
        display: block;
    }
}
.eJuBVL {
    width: 553px;
    margin-right: 127px;
}
@media screen and (max-width: 1163px) {
    .eJuBVL {
        width: 530px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 959px) {
    .eJuBVL {
        width: 418px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .eJuBVL {
        width: 100%;
    }
}
.iDPwqX {
    width: 260px;
}
@media screen and (max-width: 1163px) {
    .iDPwqX {
        width: 210px;
    }
}
@media screen and (max-width: 959px) {
    .iDPwqX {
        width: 226px;
        margin-right: 64px;
    }
}
@media screen and (max-width: 767px) {
    .iDPwqX {
        width: 100%;
        margin-top: 64px;
    }
}
.eyFUJr {
    width: 100%;
    display: block;
}
.jtENsv {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #004165;
}
.jtENsv a:focus,
.jtENsv a:hover {
    text-decoration: none !important;
}
.eFekaO {
    color: #007dba;
    text-decoration: none;
    border: 1px solid #007dba;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    padding: 5px 11px;
}
.eFekaO:focus,
.eFekaO:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.eFekaO:focus,
.eFekaO:hover {
    text-decoration: none !important;
}
.ePrdtW {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 15px;
    margin-bottom: 56px;
}
@media only screen and (min-width: 0em) {
    .ePrdtW {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 30em) {
    .ePrdtW {
        flex-basis: 50%;
        max-width: 50%;
        display: block;
    }
}
@media only screen and (min-width: 48em) {
    .ePrdtW {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 60em) {
    .ePrdtW {
        flex-basis: 100%;
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .ePrdtW {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 479px) {
    .ePrdtW {
        margin-bottom: 56px;
    }
}
.yRSAC {
    transform: translate3d(0, 0.125em, 0);
    margin: -0.125em 0 0;
}
.jXnvRE {
    -moz-box-flex: 1;
    flex-grow: 1;
    display: inline-flex;
}
.dsBIDZ {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin: 0;
}
.jDPRXV {
    position: relative;
    display: block;
    padding: 16px;
    border: 1px solid #f2c0bd;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #494949;
    background-color: #fcf0ef;
}
.lfrmpr {
    transform: translate3d(0, 0.125em, 0);
    margin: -0.125em 8px 0 0;
    color: #da5149;
    font-size: 20px;
}
.fCdbMq {
    vertical-align: middle;
}
.hrWIQm {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
}
.hrWIQm svg {
    position: absolute;
    z-index: 1;
}
.hrWIQm svg:last-child {
    font-size: 32px;
    color: #007dba;
    margin-top: 24px;
}
.hrWIQm svg:not(:last-child) {
    animation: 2s linear 0s infinite normal none running rotate;
    transform-origin: center center 0px;
}
.hrWIQm svg:not(:last-child) .path {
    stroke-dasharray: 100px, 2000px;
    stroke-dashoffset: 0px;
    animation: 2s ease-in-out 0s infinite normal none running dash;
    stroke-linecap: round;
    stroke: rgb(0, 125, 186);
}
@keyframes dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0px;
    }
    50% {
        stroke-dasharray: 89px, 200px;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89px, 200px;
        stroke-dashoffset: -124px;
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.dQGGzg {
    font-size: 30px;
}
.fYFXsi {
    width: 76px;
    height: 69px;
    margin-bottom: 32px;
}
.ckmvXb {
    text-align: center;
    margin-bottom: 48px;
}
.kXdAZw {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 767px) {
    .kXdAZw {
        padding-left: 0;
        padding-right: 0;
    }
}
.cuPLyS {
    margin-bottom: 32px;
}
.cuPLyS:last-of-type {
    margin-bottom: 0;
}
@keyframes icPxHz {
    0% {
        margin-top: 200px;
        display: none;
        transform: scale(0);
        height: auto;
    }
    1% {
        transform: scale(1);
    }
    100% {
        margin-top: 0;
        display: block;
        transform: scale(1);
    }
}
.cardname input{
    margin-top: 7px;
}

.sc-frDJqD label{
    margin-top: 15px;
}